body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 20px;
}

h1, h2 {
    color: #0056b3;
}

video, audio {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}